<h1>L33t hax0rs</h1>

<h2>Add money manually</h2>

<form method='post' action='/brus/admin/add'>
  <input type='text' name='value' placeholder='value' size=4> kr
  <input type='text' name='desc' value='Manually added by {{username}}.' size=40>
  <select name='user'>
    {% for u in users %}
    <option value='{{u[0]}}'>{{u[0]}}</option>
    {%endfor%}
  </select>
  <input type='submit'>
</form>

<h2>Add user</h2>
<form method='post' action='/brus/admin/add_user'>
  Username: <input type='text' name='username' size=40><br>
  Realname: <input type='text' name='realname' size=40><br>
  Phone: <input type='text' name='phone' size=40><br>
  Email: <input type='text' name='email' size=40><br>
  Address: <input type='text' name='address' size=40><br>
  <input type='submit'>
</form>





