<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
<h1>Hei {{username}}!</h1>
<a href="https://logg:ut@brus.hackeriet.no/brus/account">Logg ut</a>.
<h2>Din saldo er: {{balance}}</h2>

<h2>Fyll på spenn</h2>

  <form action="/brus/charge" method="post" id="payform">
    <input type="number" id="amount" value="500"> kr
    <button id="pay">Pay</button>
  </form>

<h2>Manuelt fratrekk</h2>

<form method="post" action="/brus/withdraw" onsubmit="return confirm('Er du sikker?')">
  <input type="text" name="desc" placeholder="Description" size="20">
  <input type="number" name="value" value="35" size=4 required> kr
  <input type="submit">
</form>

<h2>Transaksjonshistorie</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Timestamp</th>
    <th>Description</th>
    <th>Value</th>
  </tr>

  {% for entry in history %}
  <tr>
    {% for v in entry %}
      <td>{{v}}</td>
    {%endfor%}
  </tr>
  {%endfor%}
</table>
</body>
<script>
  var handler = StripeCheckout.configure({
    key: '{{key}}',
    image: 'https://s3.amazonaws.com/stripe-uploads/acct_16h6yBFtASXUIgkSmerchant-icon-1441393437689-hackeriet_icon.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      $("#payform").append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: token.id }))
      $("#payform").append($('<input>').attr({ type: 'hidden', name: 'amountt', value: document.getElementById("amount").value*100 }))
      $("#payform").submit();
    }
  });

  $('#pay').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Hackeriet',
      description: 'Brus',
      currency: "NOK",
      amount: document.getElementById("amount").value*100
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


</html>
