[Unit]
Description=Waits for dataread 
After=network.target

[Service]
Type=simple
User=root
Environment=LIBNFC_LOG_LEVEL=0 
Environment=LANG="en_US.utf8" 
Environment=LC_ALL="en_US.UTF-8" 
Environment=LC_LANG="en_US.UTF-8" 
Environment=MIFARE_KEY_A=
Environment=MIFARE_KEY_B=
#Environment=DOOR_NAME=hackeriet
#Environment=MQTT_URL=mqtt://user:pass@server
ExecStart=/usr/bin/cardreaderd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

