[Unit]
Description=Matrix ZMQ bridge
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/matrixbridge.py -u username -p password -g github token
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
