[Unit]
Description=NFC Door Control
#After=network.target

[Service]
Type=simple
User=root
Environment=LIBNFC_LOG_LEVEL=0 
Environment=LANG="en_US.utf8" 
Environment=LC_ALL="en_US.UTF-8" 
Environment=LC_LANG="en_US.UTF-8" 
Environment=MIFARE_KEY_A=
Environment=MIFARE_KEY_B=
Environment=PIFACE=true
Environment=DOOR_PIN=0
#Environment=DOOR_TIMEOUT=
ExecStart=/usr/bin/nfcd 
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
