[Unit]
Description=NFC Door Control
#After=network.target

[Service]
Type=simple
User=root
Environment=LIBNFC_LOG_LEVEL=0 LANG="en_US.utf8", LC_ALL="en_US.UTF-8", LC_LANG="en_US.UTF-8"
ExecStart=/usr/bin/nfcd 
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
