[Unit]
Description=Vending Machine daemon
After=network.target

[Service]
Type=simple
User=root
#Environment=PYTHONPATH=/opt/nfcd:/usr/local/lib/python3.5/site-packages
ExecStart=/usr/bin/vend 
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
