{% extends "layout.html" %}
{% block body %}
      <div class="hero-unit">
        <h2>Hackeriet doorbell</h2>
        <p>Hackeriet is: <strong>{{ humla }}</strong></p>
        <p>This page lets you ring the doorbell when <a href="http://hackeriet.no">Hackeriet</a> is gathering. If there's no response try calling <a href="tel:23964858">23 96 48 58</a>.</p>
        <p>Your presence will also be announced on IRC #oslohackerspace</p>
        <form action="" method="post">
            <p>Who are you? (optional)&nbsp;<input type="text" name="person" value=""></p>
            <p><input class="btn btn-primary btn-large" type="submit" value="Knock &raquo;" onclick='localStorage.setItem("name", document.getElementsByName("person")[0].value)'></p>
        </form>
      </div>
{% endblock %}

